

.hero-banr {
  background-image: url("../src/IMG/test1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;

}
.hero-banrlogin {
  background-image: url("../src/IMG/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;

}
@media (max-width: 1300px) {
  .hero-banr {
    background-image: url("../src/IMG/test.jpg");
    background-position: right;
  }
}
@media(max-width:833px){
  .hero-banr {
    background-image: url("../src/IMG/mid.png");
    background-size: auto;
    height: 52vh;
    background-position: center;
  
  }
}
@media(max-width:480px){
  .hero-banr {
    background-image: url("../src/IMG/sm.png");
    background-size: cover;
    height: 27vh;
  }
}
@font-face {
  font-family: "nastaliq";
  src: url("./font/IranNastaliq.ttf") format("ttf"),
    url("./font/IranNastaliq.eot") format("eot"),
    url("./font/IranNastaliq.otf") format("otf"),
    url("./font/IranNastaliq.ttf") format("ttf"),
    url("./font/IranNastaliq.woff") format("woff"),
    url("./font/IranNastaliq.woff2") format("wpff2");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"Byekan";
  src: url("./font/Yekan.ttf") format("ttf")و
  url("./font/Yekan.eot") format('eot'),
  url('./font/Yekan.woff') format('woff'),
  url('./font/Yekan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.font-Byekan{
  font-family: "Byekan";
}

.font-nastaliqh {
  font-family: "nastaliq";
}

.bg-photoASR {
  background-image: url("../src/IMG/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.bg-photoOCR {
  background-image: url("../src/IMG/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.bg-photoVAD {
  background-image: url("../src/IMG/5.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.bg-photoSE {
  background-image: url("../src/IMG/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.bg-photoSEGA {
  background-image: url("../src/IMG/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.bg-photoOCR {
  background-image: url("../src/IMG/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.bg-photoTranslator{
  background-image: url("../src/IMG/translator.png");
  background-size: contain;
  background-repeat: no-repeat;

}
.bg-photoSuper{
  background-image: url("../src/IMG/super.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-ketWord{
  background-image: url("../src/IMG/download\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-descreiption{
  background-image: url("../src/IMG/encript.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-llmui{
  background-image: url("../src/IMG/llmui.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media(max-width:500px){
  .bg-llmui ,.bg-descreiption ,.bg-ketWord, .bg-photoSuper, .bg-photoTranslator, .bg-photoOCR, .bg-photoSEGA, .bg-photoASR,  .bg-photoVAD, .bg-photoSE  {
    background-size: cover;
  }
}